body{
    display: grid;
    margin: 0;
    overflow-y: hidden;
    height: 100vh;
    box-sizing: border-box;
    >div#navquiz{
        >div{
            display: flex;
            p{
                min-width: fit-content;
            }
        }
        #navbut button>*{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .visivel{
        opacity: 1 !important;
        visibility: visible !important;
    }
    div#site{
        padding: 0;
    }
    #urldiv{
        display: grid;
        grid-template-columns: 4fr 1fr;
        border-bottom: 1px solid black;
    }
    #cxdiag{
        display: grid;
        place-items: center;
        overflow-y: auto;
        height: 77vh;
        padding: 4%;
        #perguntas{
            border: 1px solid black;
            >div{
                padding: 4%;
            }
            p#question{
                font-size: large;
            }
        }
        >div{
            display: flex;
            flex-direction: column;
            height: fit-content;
            border: 1px solid black;
            justify-content: space-evenly;
            gap: 0%;
            input{
                width: 100%;
            }
            div#input{
                padding: 10%;
                #incorreto{
                    color: red;
                    visibility: hidden;
                    opacity: 0;
                }
            }
            #botoes{
                display: flex;
                padding: 10%;
                justify-content: space-between;
            }
        }
        button>p{
            font-size: medium;
        }
    }
    #error-txt{
        height: 10vh;
        width: 25vw;
        display: flex;
        align-items: center;
        gap: 5%;
        padding: 5%;
        >img{
            max-height: 63%;
        }
    }
}